/* -------------
Home page styles
-------------- */

.home {
  &.wrapper {
    width: 100%;
    height: 100%;

    .leftside {
      height: 100vh;
      background-color: $ra-yellow;
    }

    .rightside {
      height: 100vh;
      background-color: $ra-deepgrey;
    }

    @media screen and (min-width: $break-md-ls) {
      margin: auto;
      max-width: 1140px;
    }

    @media screen and (max-width: $break-md) {
      margin: auto;
      max-width: 704px;
    }

    @media screen and (max-width: $break-xs) {
      margin: auto;
      max-width: 360px;
    }
  }
}
