/* -------------
Home page styles
-------------- */

.home {
  &.wrapper {
    width: 100%;

    .subwrapper {
      width: 100%;
    }

    @media screen and (min-width: $break-md-ls) {
      margin: auto;
      max-width: 1140px;
    }

    @media screen and (max-width: $break-md) {
      margin: auto;
      max-width: 100%;
    }
  }

  .leftside {
    background-color: $ra-yellow;

    h1 {
      padding-top: 32px;
      margin-bottom: 12px;

      @media screen and (min-width: $break-md-ls) {
        padding-top: 170px;
        margin-bottom: 24px;
      }
    }

    @media screen and (max-width: $break-md) {
      padding-left: 32px;
    }

    @media screen and (max-width: $break-xs) {
      padding-left: 14px;
    }
  }

  .rightside__hollow {
    visibility: hidden;

    @media screen and (min-width: $break-md-ls) {
      visibility: visible;
      height: 100vh;
      position: absolute;
      right: 2.4%;
      background-color: $ra-deepgrey;
    }

    @media screen and (min-width: $break-xl) {
      right: 4.7%;
    }
  }

  .rightside {
    position: relative;
    z-index: 4;
    background-color: $ra-deepgrey;

    @media screen and (min-width: $break-md-ls) {
      padding-left: 30px;
      height: auto;
    }

    @media screen and (max-width: $break-md) {
      height: 542px;
      padding: 0 32px;
      margin: 24px 0 -122px 0;
    }

    @media screen and (max-width: $break-xs) {
      margin-top: 24px;
      width: 100%;
      padding: 0;
      height: 895px;
      margin-bottom: -472px;
    }

    .wrapper__form {
      padding-top: 24px;

      @media screen and (min-width: $break-md-ls) {
        padding-top: 160px;
      }
  
      @media screen and (max-width: $break-md) {
        height: 32px;
      }
    }
  }
  

  .bottomside {
    position: relative;
    width: 100%;
    z-index: 5;

    @media screen and (max-width: $break-md) {
      padding: 0 32px;
    }
    @media screen and (max-width: $break-xs) {
      padding: 0 8px;
    }

    .results {
      margin-top: 24px;
      background-color: $ra-white;
      border-radius: 8px;
      background: #FFFFFF;
      box-shadow: 0 12px 44px 0 rgba(0,0,0,0.10);

      .results__table {

        .legend {
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
          background-color: $ra-offgrey;
        }
      }
    }
  }
}
