/* FIELD */

.field {
    font-family: 'Montserrat';
    font-weight: 600;
    color: $ra-white;
    background-color: $ra-lightergrey;
    height: 48px;
    padding: 0 26px 0 16px;
    margin-bottom: 24px;
    box-sizing: border-box;
    justify-content: space-between;

    &.form__volume {
        height: 64px;

        input {
            height: 64px;
        }
    }

    @media screen and (min-width: $break-lg) {
        height: 64px;

        &.form__volume {
            height: 80px;

            input {
                height: 80px;
            }
        }
    }

    span {
        font-size: 14px;

        &.subtitle {
            display: inline-block;
            padding-top: 6px;
            font-size: 12px;
        }

        span {
            color: $ra-white;
            opacity: .4;
        }
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }

    input[type=number] {
        -moz-appearance:textfield;
    }

    input {
        display: block;
        background-color: $ra-deepergrey;
        border: 1px solid $ra-deepergrey;
        width: 33%;
        height: 46px;
        border-radius: 0;
        outline: 0;
        position: relative;
        margin-right: -26px;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        padding: 0;
        color: $ra-white;
        transition: .25s border ease-in;

        &.error {
          border-color: red;  
        }

        @media screen and (min-width: $break-lg) {
            height: 62px;
            font-size: 16px;
            width: 33%;
        }
    }
}

.form__reference {
    background: url('../../assets/images/ra-down.svg') no-repeat 94% center $ra-lightergrey;

    select {
        background: transparent;
        border: none;
        width: 100%;
        height: 48px;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 14px;
        color: $ra-white;
        outline: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        @media screen and (min-width: $break-lg) {
            height: 64px;
        }
    }
}