/* -------------
Common styles
-------------- */

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $ra-yellow;

  @media screen and (min-width: $break-md-ls) {
    background: linear-gradient(90deg, $ra-yellow 60%, $ra-deepgrey 40%);
  }
}

::selection {
  background-color: $ra-yellow;
  color: $ra-white;
}

.ovals__large {
  position: fixed;
  right: 0;
  bottom: 0;
  visibility: hidden;

  @media screen and (min-width: $break-md-ls) {
    visibility: visible;
  }
}
