/* -------------
Types styles
-------------- */

h1, h2, h3 {
    font-family: 'Montserrat';
    font-weight: bold;
    text-transform: uppercase;
}

h1 {
    font-size: 32px;
    line-height: 38px;
    color: $ra-darkgrey;

    @media screen and (min-width: $break-md-ls) {
        font-size: 52px;
        line-height: 75px;
    }
}

h2 {
    font-size: 16px;
    line-height: 20px;
    color: $ra-white;

    @media screen and (min-width: $break-md-ls) {
        font-size: 36px;
        line-height: 52px;
    }
}

h3 {
    font-size: 16px;
    line-height: 20px;
    color: $ra-white;
    padding-left: 14px;

    @media screen and (min-width: $break-md-ls) {
        font-size: 22px;
        line-height: 52px;
        color: $ra-darkgrey;
    }

    @media screen and (max-width: $break-md) {
        padding-left: 32px;
    }
}