/* -------------
Breakpoints
-------------- */
$break-xxs:             320px;
$break-xs:              480px;
$break-md:              768px;
$break-md-ls:           1024px;
$break-lg:              1200px;
$break-xl:              1440px;


/* -------------
Colors
-------------- */
$rvl-white:             #FFFFFF;
$rvl-grey:              #FAFAFA;
$rvl-black:             #000000;
$rvl-red:               #FE1A35;
$rvl-green:             #68D366;
$rvl-blue:              #66C2D3;
$rvl-orange:            #FEAB1A;
$rvl-yellow:            #FEEC1A;



/* -------------
fonts
-------------- */
