/* -------------
Breakpoints
-------------- */
$break-xxs:             320px;
$break-xs:              480px;
$break-md:              768px;
$break-md-ls:           1024px;
$break-lg:              1200px;
$break-xl:              1440px;


/* -------------
Colors
-------------- */
$ra-white:              #FFF;
$ra-black:              #000;
$ra-deepgrey:           #555555;
$ra-lightergrey:        #474747;
$ra-deepergrey:         #3B3B3B;
$ra-yellow:             #FED500;



/* -------------
fonts
-------------- */
